---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
h1 {
  font-family: 'Amatic SC', cursive;
  color: #FF7E2B;
}
h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 32px;
  color: #FF7E2B;
}
h3 {
  font-family: 'Amatic SC', cursive;
  font-size: 24px;
  color: #FF7E2B;
}
h4 {
  font-family: 'Amatic SC', cursive;
  font-size: 18px;
  color: #FF7E2B;
}
h5 {
  font-family: 'Amatic SC', cursive;
  font-size: 14px;
  color: #FF7E2B;
}
a {
  color: #94A984;
}
a:hover,a:focus{
  color: #4E7531;
  font-weight: normal
}
